#ifndef __SECRET_H_
#define __SECRET_H_


#define SS_ID "esp"
#define SS_PASS "esp"

// Husarnet credentials
const char *hostName = "awesome-device";
const char *husarnetJoinCode = "fc94:b01d:1803:8dd8:b293:5c7d:7639:932a/XXXXXXXXXXXXXXXXX";
const char *dashboardURL = "default";

#endif /* __SECRET_H_ */